.x-btn-focus button {
	border: 1px dotted #66AAFF;
}


.x-btn-focus .x-btn-tl{
	background-position: -6px 0;
}

.x-btn-focus .x-btn-tr{
	background-position: -9px 0;
}

.x-btn-focus .x-btn-tc{
	background-position: 0 -9px;
}

.x-btn-focus .x-btn-ml{
	background-position: -6px -24px;
}

.x-btn-focus .x-btn-mr{
	background-position: -9px -24px;
}

.x-btn-focus .x-btn-mc{
	background-position: 0 -2168px;
}

.x-btn-focus .x-btn-bl{
	background-position: -6px -3px;
}

.x-btn-focus .x-btn-br{
	background-position: -9px -3px;
}

.x-btn-focus .x-btn-bc{
	background-position: 0 -18px;
}


/* These rules are duplicated from button.css to give priority of x-toolbar rules above */
.x-toolbar .x-btn-focus .x-btn-tl{
	background-position: -6px 0;
}

.x-toolbar .x-btn-focus .x-btn-tr{
	background-position: -9px 0;
}

.x-toolbar .x-btn-focus .x-btn-tc{
	background-position: 0 -9px;
}

.x-toolbar .x-btn-focus .x-btn-ml{
	background-position: -6px -24px;
}

.x-toolbar .x-btn-focus .x-btn-mr{
	background-position: -9px -24px;
}

.x-toolbar .x-btn-focus .x-btn-mc{
	background-position: 0 -2168px;
}

.x-toolbar .x-btn-focus .x-btn-bl{
	background-position: -6px -3px;
}

.x-toolbar .x-btn-focus .x-btn-br{
	background-position: -9px -3px;
}

.x-toolbar .x-btn-focus .x-btn-bc{
	background-position: 0 -18px;
}


.x-panel-btns .x-btn-focus .x-btn-left{
	background-position:0 -63px;
}

.x-panel-btns .x-btn-focus .x-btn-right{
	background-position:0 -84px;
}

.x-panel-btns .x-btn-focus .x-btn-center{
	background-position:0 -105px;
}


.x-btn-focus .x-btn-mc em.x-btn-split, .x-btn-click .x-btn-mc em.x-btn-split, .x-btn-menu-active .x-btn-mc em.x-btn-split, .x-btn-pressed .x-btn-mc em.x-btn-split {
    background-image:url(../images/default/button/s-arrow-o.gif);
}


.x-btn-focus .x-btn-mc em.x-btn-split-bottom, .x-btn-click .x-btn-mc em.x-btn-split-bottom, .x-btn-menu-active .x-btn-mc em.x-btn-split-bottom, .x-btn-pressed .x-btn-mc em.x-btn-split-bottom {
    background-image:url(../images/default/button/s-arrow-bo.gif);
}


.x-toolbar .x-btn-focus .x-btn-mc em.x-btn-split, .x-toolbar .x-btn-click .x-btn-mc em.x-btn-split,
.x-toolbar .x-btn-menu-active .x-btn-mc em.x-btn-split, .x-toolbar .x-btn-pressed .x-btn-mc em.x-btn-split
{
    background-image:url(../images/default/button/s-arrow-o.gif);
}


.x-toolbar .x-btn-focus .x-btn-mc em.x-btn-split-bottom, .x-toolbar .x-btn-click .x-btn-mc em.x-btn-split-bottom,
.x-toolbar .x-btn-menu-active .x-btn-mc em.x-btn-split-bottom, .x-toolbar .x-btn-pressed .x-btn-mc em.x-btn-split-bottom
{
    background-image:url(../images/default/button/s-arrow-bo.gif);
}
