.docked-floating-panel {
    border-width: 3px;
}
.docked-floating-panel-expander {
    position: absolute;
    background-color: #99BBE8;
    height: 4px;
    z-index: 11000;
}
.docked-floating-panel-expander-text {
    position: absolute;
    right: 0px;
    top: -23px;
    background-color: #99BBE8;
    padding: 5px 8px;
    border-top-left-radius: 5px;
    color: white;
    cursor: pointer;
    user-select: none;
}