.multi-grid-body {
    color: #4a4a4a;
    font-size: 1.2em;
}
.multi-grid-body .x-grid3-row {
    cursor: pointer;
}
.multi-grid-body .x-grid3-row-selected {
    background-color: #fff8de !important;
}
.multi-grid-subrow-div {
    display: none;
}

.multi-grid-body .x-action-col-icon {
    padding-top: 5px;
}

.multi-grid-body .x-grid3-cell-inner, .x-grid3-hd-inner {
    padding: 6px 5px 6px 8px;
}

.multi-grid-expand-column {
    width: 36px;
    height: 36px;
}

.multi-grid-body .x-grid3-row-over .multi-grid-expand-column{
    background: url("../images/circuit-arrow-down.png") no-repeat;
}

.multi-grid-body .x-grid3-row-selected .multi-grid-expand-column {
    background: url("../images/circuit-arrow-up.png") no-repeat;
}